.manageContainer {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
}

.title {
    color: var(--color-default);
    font-size: var(--size-large) !important;
    font-weight: 400;
}

.content {
    display: flex;
    flex-direction: column;
    gap: var(--space-default);
    justify-content: space-between;
    min-height: 90px;
}

.accountTypeOptions {
    display: flex;
    flex-direction: column;
    gap: var(--space-half);
    margin-bottom: var(--space-half);
    text-align: left;
}

.accountTypeDescription {
    color: var(--color-secondary);
    display: block;
    font-weight: 400;
    margin-top: var(--space-eight);
}

.content :global(select) {
    text-align: left;
}

.successMessage {
    color: var(--color-secondary);
}

.successMessage strong {
    color: var(--color-default);
}

.stepsSpacing {
    margin-bottom: var(--space-half);
}

@media screen and (max-width: 640px) {
    .button {
        margin-left: var(--space-quarter);
    }
}
